version: "3.9"

services:
  flask:
    build: .
    expose:
      - "5000"
    networks:
      - web


  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - flask
    networks:
      - web
networks:
  web:
     driver: bridge
