body {
    font-family: Arial, sans-serif;
    background-color: #FFFDD3;
    color: #eee;
    margin: 40px;
}

h1 {
    margin-bottom: 30px;
}

a {
    color: #141414;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.article {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #333;
}

.source {
    font-size: 0.9em;
    color: #aaa;
}

